<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Name: {{datasource.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
	    <div class="col-xs-12">
	    Description: {{datasource.description}}
	    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      Feeds: <a href="#{{datasource.feed}}">go to feeds</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      Data Source: <a href="#{{datasource.datasource}}">go to data sources</a>
      </div>
    </div>
  </div>
</div>